<div class="overlayModalSearch" id="overlayModalSearch"></div>
    <div class="modalSearch right-align" id="modalSearch">
    <button class="btn-floating pulse " id="closeBtnModalSearch"><i class="material-icons">close</i></button>
        <div class="row">
            <div id="cagnotte-list"></div>
        </div>
</div>

