{% extends 'base.html.twig' %}

{% block title %}Edit Campagne{% endblock %}

{% block body %}
    <h1 class='center'>Modifiez la campagne</h1>
    <div class="container">
    {{ include('campagne/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <div class='center'>
    {{ include('campagne/_delete_form.html.twig') }}
    </div>
    </br>
{% endblock %}
